/* カレンダーページのアイコンの設定 */
.icon {
  @apply relative cursor-pointer;
}

.icon:hover::after {
  @apply absolute bottom-10 left-1/2 transform -translate-x-1/2 w-max bg-gray-700 text-white text-xs rounded-md py-1 px-2 opacity-0 group-hover:opacity-100;
  content: attr(data-tooltip);
  z-index: 10;
  opacity: 1;
}